/* ///////ASPECTO DEL CUERPO PRINCIPAL DE LA PAGINA/////////// */
body{
  overflow: hidden;
  margin: 0;
  font-family: 'Catamaran', sans-serif;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: #333;
  transition: background-color .5s;
  z-index: 0;
  font-weight: normal;
}



/* ///////ASPECTO DEL ENCABEZADO DEFINIDO/////////// */
header{
  position: absolute;
  overflow: visible;
  top: 1.5vh;
  left:1.5vh;
  width: 70vh;
  height: 6vh;
  margin: 0px;
  padding: 8px;
  background-color: #111;
  font-family: 'Catamaran', sans-serif;
  font-weight: normal;
  color:white;
  border-radius: 3px;
}

.menu-container  {
  position: absolute;
  overflow: visible;
  float: left;  
  padding: 1px 7px;
}

.menu-container a {
  position: absolute;
  overflow: visible;
  top: 0vh;
  left:0vh;
  float: left;
  margin-top: 0;
  padding: 1px 7px;
  background-color: #111;
  color: white;
  font-size: 26px;
}

.menu-container a:hover {
  background-color: #6e6b6b;
}


header h2 {
  position: absolute;
  overflow: visible;
  float: top;
  top: -2vh;
  left: 8vh;
  font-size: 24px;
}

header h6 {
  position: absolute;
  overflow: visible;
  top: 0.5vh;
  left: 8vh;
  font-weight: normal;
  font-size: 13px;
  font-style: italic;
}




/* ///////ASPECTO DE LA VENTANA PRINCIPAL BAJO LA BARRA DE NAVEGACION/////////// */
#map { 
  position: absolute;
  width: 100%;
  top:0vh;
  left:0vh;
  bottom:0vh;
  right:0vh;
  background-color: rgb(180, 182, 184);
  color: black;
  transition: margin-left .5s;
  z-index: -2;
}

/* ///////ASPECTO DE LA BARRA LATERAL/////////// */
/*---Aspecto de la barra lateral izquierda - Menu Geodiversidad---*/
.sidepanel {
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 11vh;
  left: 0;
  bottom: 1vh;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  padding-bottom: 60px; /* Place content 60px bottom the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidepanel a:hover {
  color: #f1f1f1;
}
.sidepanel a button{
  left:0;
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  background-color: #111;
  color: #818181;
  border:none;
  display: block;
  transition: 0.3s;
  text-align: left;
}

.sidepanel a button:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*----- Aspecto del modal del menu diversidad----------*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  z-index: 3; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  padding-left: 250px;
  padding-bottom: 250px;
  padding-right: 50px;
  width: 90%; /* Variable width */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  height: 110%; /* Variable height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: absolute;
  overflow: auto;
  color: black;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  height: 50%;
  top: 12vh;
  left: 60vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  font-size: 16px;
  font-weight: normal;
  padding: 2px 16px;
  height: 60px;
  background-color: #333;
  color: white;
}

.modal-body {
  padding: 10px 16px;
  font-weight: normal;

}

/* containers */
.container {
  font-size: 20px;
  color: #333;
  font-weight: normal;

  }



/* Clear floats after containers */
.container::after {
content: "";
clear: both;
display: table;
}



/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
.container {
  text-align: center;
}

.container img {
  margin: auto;
  float: none;
  display: block;
}
}









.leaflet-container {
  font-family: 'Catamaran', sans-serif;
}

.leaflet-sidebar { 
  position: absolute;
  top: 20px;
  bottom: 30px;
  width: 100%;
  overflow: hidden;
  z-index: 2000;
  font-weight: normal;
}

.leaflet-sidebar-content {
  float:right;
  font-weight: normal;
  font-size: 16px;

}

.leaflet-sidebar.collapsed {
  float:right;

}

.leaflet-sidebar-header {
  background-color: #333; 
  font-weight: normal;
}

.leaflet-sidebar-tabs > li.active, .leaflet-sidebar-tabs > ul > li.active {
  background-color: #333; 
} 

#capasContent {
  height: 74vh;
}

.leaflet-controllable-legend-body {
  height: 100%;
  max-height: none;
}

.leaflet-control-basemapsSwitcher {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.basemapImg {
  margin: 10px 5px;
  text-align: center;
  font-size: 12px;
}

.basemapImg:hover {
  transform: scale(1.15);
  transition: all 0.5s ease;
}

#buscadorContent {
  height: 75vh;
}

.fa-magnifying-glass-location{
  font-size: 15px;
  margin-right: 0px;
}

#buscadorContent .result-item{
  border-bottom: 1px dotted #0000003b;
  cursor: pointer;
}



.form-control {
  display: block;
  width: 90%;
  padding: 0.375rem 0.75rem;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.file-cargarCapa {
  display: inline-block;
  color: #333;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-comun {
  display: inline-block;
  color: #333;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-comun {
  color: #333;
  background: #ffffff;
  border-color: #666;
}
.btn-comun:hover {
  color: #ffffff;
  background: #333;
  border-color: #333;
}












